
h1 {
  font-size: 40px;
  font-family: Arial;
}

h2 {
  font-size: 25px;
  font-family: Arial;
  margin: 0;
}

h3 {
  font-family: Arial;
}

p {
  font-size: 14px;
  font-family: Arial;
}

div {
  background-color: darkcyan;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


div img {
  float: right;
}

